.main-page {
    min-height: 100vh;
    /* full viewport height */
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    padding: 1rem;
    /* some breathing room on small screens */
    box-sizing: border-box;
    background: #f3f4f6;
    /* optional background */
    flex-direction: column;
}

.links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}